<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href=".assets/stylesheets/application.css" type="text/css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
  <div class="container">

<h1 style="color:white">This is the Homepage</h1>

 <%= link_to 'About', about_path %>

<div class="text-center clear"><p style="color:white">&copy; Copyright 2015</p></div>
  </body>
</html>


 


 